html {
    background: linear-gradient(to bottom, rgb(107,33,180), #0f172a, #0f0f15);
}
body {
    margin:0;
    min-height:100vh;
    /* background-color:rgb(26,31,44); */
    font-family: 'Outfit', sans-serif;
}

nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom: 1px solid rgb(107, 33, 180);
    padding:0 3%;
    background-color: rgb(29, 34, 50);
}

.goBack {
    text-decoration:none;
}

.leftHeader {
    margin:0;
    display:flex;
    align-items:center;
    gap:20px;
}

.NBAStatsTitle {
    color: white;
    font-size: 20px;
    font-weight:bold;
}

.rightSide {
    width:1200px;
    display:flex;
    justify-content:space-between;
    margin-top:40px;
}

.playerContainer {
    display:flex;
    align-items:center;
    margin:3% auto;
    width:1400px;
    height: 240px;
    background-color:rgb(29,34,50);
    gap:80px;
    border-radius:20px;
}

.playerPicture {
    height:200px;
    width:300px;
    object-fit:contain;
    padding-bottom:25px;
    margin-left:10%;
}

.playerInfo {
    margin-top:25px;
}

.playerName {
    color:white;
    font-size:45px;
    margin:0;
    font-weight:bolder;
}

.teamAndNumberContainer {
    color:white;
    display:flex;
    gap:10px;
    font-size:20px;
    text-align:left;
    margin-left:1%;
}

.personalInformationContainer {
    display:flex;
    gap:20px;
    color:white;
}

.info {
    text-align:center;
    border-radius:10px;
    width:80px;
    padding:10px;
    background-color:rgb(29,39,56);
}

.playerPic {
    width:200px;
    height:200px;
    margin-right:120px;
    margin-bottom:40px;
}

.playerStatsContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;
    margin-top:3%;
    max-width:1500px;
}

.seasonStatsTitle {
    align-self:flex-start;
    padding-left:50px;
    font-size:26px;
    font-weight:bolder;
    color:white;
}

.seasonStatsContainer {
    align-self:flex-start;
    padding-left:60px;
    display:flex;
    gap:30px;
    color:white;
}

.statContainer {
    background-color:rgb(29,34,50);
    border:1px solid rgb(29,40,57);
    width:300px;
    border-radius:15px;
    padding-bottom:2%;
    transition: transform 0.3s ease;
    text-align:center;
}

.statContainer:hover {
    transform:scale(1.05);
}

.statContainer p {
    margin:0;
}

.title {
    font-size:20px;
    padding-top:8%;
}

.number {
    padding-top:3%;
    font-size:38px;
    font-weight:bolder;
}

.currentSeason {
    font-size:17px;
    padding-top:5%;
}

.careerHighlightsSection {
    margin-top:3%;
    padding-left:5%;
}

.careerTitle {
    font-size:26px;
    color:white;
    font-weight:bolder;
}

.collegeAndCareerStats {
    display:flex;
    gap:20px;
}

.highlightsContainer {
    padding:5px 20px 50px 20px;
    height:5vh;
    width:76vh;
    background-color:rgb(29,34,50);
    border:1px solid rgb(29,40,57);
}

.education {
    height:90px;
    width:70px;
}

.totalStatsImg {
    height:40px;
    width:40px;
}

.collegeTitleContainer, .totalStatsTitleContainer {
    display:flex;
    align-items:center;
    gap:20px;
    width:400px;
    color:white;
    font-size:20px;
}

.collegeTitle, .totalStatsTitle {
    font-size:26px;
}

@media (max-width: 480px) {
    html {
        height:100%;
    }
    body {
        min-height:100vh;
    }


}