body {
    margin:0;
    background-color:rgb(26,31,44);
    font-family: 'Outfit', sans-serif;
}

.playerContainer {
    display:flex;
    align-items:center;
    margin:2% auto;
    width:90vw;
    height: 35vh;
    background-color:rgb(29,34,50);
    gap:80px;
    border-radius:20px;
}

.playerPicture {
    height:250px;
    width:300px;
    object-fit:contain;
    padding-bottom:25px;
    margin-left:15%;
}

.playerName {
    color:white;
    font-size:55px;
    margin:0;
    font-weight:bolder;
}

.teamAndNumberContainer {
    color:white;
    display:flex;
    gap:10px;
    font-size:24px;
    text-align:left;
    margin-left:1%;
}

.personalInformationContainer {
    display:flex;
    gap:20px;
    color:white;
}

.info {
    text-align:center;
    border-radius:10px;
    width:80px;
    padding:10px;
    background-color:rgb(29,39,56);
}

.playerStatsContainer {
    margin-top:3%;
}

.seasonStatsTitle {
    padding-left:5%;
    font-size:26px;
    font-weight:bolder;
    color:white;
}

.seasonStatsContainer {
    padding-left:5%;
    display:flex;
    gap:30px;
    color:white;
}

.statContainer {
    background-color:rgb(29,34,50);
    border:1px solid rgb(29,40,57);
    width:300px;
    padding-left:2%;
    border-radius:15px;
    padding-bottom:2%;
    transition: transform 0.3s ease;
}

.statContainer:hover {
    transform:scale(1.05);
}

.statContainer p {
    margin:0;
}

.title {
    padding-top:8%;
}

.number {
    padding-top:2%;
    font-size:37px;
    font-weight:bolder;
}

.currentSeason {
    padding-top:2%;
}

.careerHighlightsSection {
    margin-top:3%;
    padding-left:5%;
}

.careerTitle {
    font-size:26px;
    color:white;
    font-weight:bolder;
}

.collegeAndCareerStats {
    display:flex;
    gap:20px;
}

.highlightsContainer {
    padding-top:10px;
    padding-bottom:120px;
    padding-left:20px;
    height:5vh;
    width:76vh;
    background-color:rgb(29,34,50);
    border:1px solid rgb(29,40,57);
}

.education, .totalStatsImg {
    height:30px;
    width:30px;
}

.collegeTitleContainer, .totalStatsTitleContainer {
    display:flex;
    align-items:center;
    gap:20px;
    width:400px;
    color:white;
    font-size:20px;
}

.collegeTitle, .totalStatsTitle {
    font-size:26px;
}