body {
    margin:0;
    background-color:rgb(17,26,35);
}

.playerContainer {
    display:flex;
    align-items:center;
    gap:100px;
    min-width:0px;
    height: 650px;
    border:5px solid red;
}

.playerPictureContainer {
    padding-left:40px;
}

.playerPicture {
    height:350px;
    width:350px;
    object-fit:contain;
    border-radius:50%;
    padding-bottom:25px;
}

.playerName {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:2.5%;
    color:whitesmoke;
    font-size:40px;
    text-align:center;
}

.numberStatsContainer {
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.stat {
    text-align:center;
    padding-bottom:50px;
    width:175px;
    height:100px;
    border-radius:10px;
    border:3px solid rgb(217,17,68);
}

.stat1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:35px;
}

.title {
    font-size:20px;
}

.personalInformationContainer {
    margin-top:4%;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.personalInformationTitle {
    font-size:28px;
}

.row {
    margin:0;
    display:flex;
    align-items:center;
    gap: 400px;
    margin-left:15%;
    padding-top:35px;
    padding-bottom:35px;
    border-top:1px solid rgb(50,74,93);
    border-bottom:1px solid rgb(50,74,93);
    width:1250px;
}

.row-title {
    font-size:22px;
    color:rgb(122,138,152);
}