html {
    background: linear-gradient(to bottom, rgb(107,33,180), #0f172a, #0f0f15);
}

body {
    margin: 0;
    /* background: linear-gradient(to bottom, #5b21b6, #0f172a, #0f0f15); */
    font-family: 'Outfit', sans-serif;
    color: black; /* Light text color */
    padding-bottom:50px;
}

nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom: 1px solid rgb(107, 33, 180);
    padding:0 3%;
    background-color: rgb(29, 34, 50);
}

.leftHeader {
    margin:0;
    display:flex;
    align-items:center;
    gap:20px;
}

.NBAStatsTitle {
    color: white;
    font-size: 20px;
    font-weight:bolder;
}

.mainTitleAndSearchContainer {
    text-align:center;
    width:100%;
}

.statsHubTitle {
    font-size:60px;
    color:white;
    font-weight:bolder;
    text-align:center;
    margin-top:80px;
    margin-bottom:40px;
}

.description-1, .description-2 {
    margin:0;
    text-align:center;
    font-size:21px;
    color:white;
}

.headerSearch {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-top:60px;
}

#headerSearchBar {
    width: 750px;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
    border: 1px solid black; /* Subtle border for contrast */
    font-size: 18px;
    background-color:transparent;
    color: black;
    transition: all 0.3s ease;
}

#headerSearchBar:focus {
    color:white;
}

#headerSearchBar::placeholder {
    color: rgb(127,142,163); /* Light placeholder color */
    font-style: italic;
    font-size:24px;
}

#headerSearchBar:hover {
    background-color:rgb(50,44,99);
    cursor:pointer;
}

#headerSearchBar:hover::placeholder{
    color:white;
}

#headerSearchBtn {
    width:120px;
    height:50px;
    border-radius:10px;
    background-color:#2561f8;
    color:whitesmoke;
    font-size:20px;
    border:none;
}

.exploreBtnsContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-top:3%;
}

.liveScoreBtn, .explorePopPlayersBtn {
    width:270px;
    font-weight:bolder;
    font-size:20px;
    border-radius:15px;
    border:none;
}

.liveScoreBtn, .explorePopPlayersBtn:hover {
    cursor:pointer;
}

.explorePopPlayersBtn {
    padding:17px;
    background-color:rgb(27,35,51);
    color:rgb(150,101,241);
    border:1px solid #2561f8;
}

.liveScoreBtn {
    padding:15px;
    background-color:rgb(27,35,51);
    color:rgb(150,101,241);
    border:1px solid #2561f8;
}

.explorePopPlayersBtn:hover, .liveScoreBtn:hover {
    background-color:rgb(238, 235, 235);
}

.latestNewsSection {
    text-align:center;
    margin-top:6%;
}

.latestNewsTitle {
    font-size:34px;
    color:rgb(190,132,252);
    font-weight:bolder;
}

.newsContainer {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:40px;
}

.news {
    display:flex;
    flex-direction:column;
    align-items:start;
    width:390px;
    background-color:rgb(9,15,33);
    color:white;
    object-fit:cover;
    border-radius:20px;
    border:1px solid rgb(107,33,180);
    padding-bottom:30px;
    padding:10px 20px 20px 20px;
}

.news a {
    display:flex;
    margin:0 auto;
}

.newsHeadline {
    font-size:20px;
    max-width:500px;
    margin-left:4%;
    text-align:start;
    flex-wrap:wrap;
    font-weight:600;
}

.newsDescription {
    font-size:17px;
    max-width:475px;
    max-height:100px;
    text-align:start;
    padding-bottom:50px;
    margin-left:4%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsImg {
    border-radius:15px;
}

.seeMoreBtn {
    background-color:rgb(27,35,51);
    padding:10px;
    border-radius:15px;
    color:rgb(150,101,241);
    border:none;
    box-shadow:1px 1px rgb(107,33,180);
    margin-top:5%;
    display:flex;
    font-size:14px;
    transition: transform 0.3 ease-in;
}

.seeMoreBtn:hover {
    transform:scale(1.15);
    cursor:pointer;
}

.seeMoreBtn1, .seeMoreBtn2, .seeMoreBtn3 {
    text-decoration:none;
}


.featuredStatisticsSection {
    margin-top:6%;
}

.featuredStatisticsTitle {
    text-align:center;
    color:rgb(190,132,252);
    font-size:34px;
    font-weight:bolder;
}

.statisticsContainer {
    max-width:100vw;
    display:flex;
    justify-content:center;
    gap:45px;
}

.stat {
    width:325px;
    height:110px;
    padding:4px 10px 50px 4px;
    background-color:rgb(27,35,51);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius:15px;
    padding:0 15px 45px 15px;
    color:white;
    margin:0;
    display:block;
    gap:5px;
    line-height:0.50;
    text-align:center;
    border:1px solid #2561f8;
}

.stat:hover {
    transform:scale(1.15);
}


.filler1, .filler3 {
    font-size:20px;
    margin-top:8%;
}

.filler2 {
    font-weight:bolder;
    font-size:32px;
    color:rgb(190,132,252);
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    gap:20px;
}

.teamSelection {
    width:375px;
    height:30px;
    border-radius: 25px;
    padding-left: 20px;
    outline: none;
    border: 1px solid rgb(29,40,58); /* Subtle border for contrast */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    background-color: rgb(26,31,44); /* Dark search bar */
    color: white;
    transition: all 0.3s ease;
}

.teamSelection::placeholder {
    font-size:18px;
    color:black;
    font-style:italic;
}

.showTeamBtn {
    width:100px;
    height:35px;
    border-radius:10px;
    background-color:#2561f8;
    color:whitesmoke;
    font-size:20px;
}

.mostPopularPlayersContainer {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}


.mostPopularPlayersTitle {
    font-size: 35px;
    color: rgb(190,132,252);
}

.starPlayersContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.playerContainer { 
    border-radius: 15px;
    height: fit-content;
    width: 400px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; 
    padding-bottom:50px;
    color:white;
}

.playerContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
}

.playerContainer h2 {
    color: white; 
    font-size: 35px;
    text-align:center;
}

.statsContainer img {
    display:flex;
    margin:0 auto;
    border:none;
    height: 200px;
    width:300px;
    object-fit:contain;
}

.stats-row {
    display:flex;
    justify-content:space-around;
    text-align:center;
    margin-top:10%;
}

.container {
    width:70px;
    height:70px;
    border-radius:20px;
    padding:15px;
}

.container p {
    margin-top:6%;
}



@media (min-width: 481px) and (max-width: 768px) {
    nav {
        width:100vw;
    }
    .mainTitleAndSearchContainer {
        height:80vh;
    }
    .statsHubTitle{
        font-size:50px;
    }

    .description-1, .description-2 {
        font-size:25px;
    }

    #headerSearchBar {
        width:550px;
    }

    .headerSearch {
        margin-top:10%;
    }

    .exploreBtnsContainer {
        margin-top:5%;
    }

    .statisticsContainer {
        text-align:center;
    }

    .filler1 {
        font-size:14px;
    }

    .filler2 {
        font-size:28px;
    }

    .filler3 {
        font-size:14px;
    }

    .searchBarContainer {
        margin-top:10%;
    }

    .statisticsContainer {
        display:flex;
        justify-content:center;
        gap:20px;
    }

    .stat {
        width:200px;
    }
}

@media (max-width: 480px) {
    nav {
        width:100vw;
    }

    .mainTitleAndSearchContainer {
        border:transparent;
        margin-top:0;
    }

    .statsHubTitle {
        font-size:35px;
        margin-top:0;
        padding-top:25%;
    }

    .description-1, .description-2 {
        font-size:20px;
    }

    .headerSearch {
        display:flex;
        justify-content:center;
        gap:10px;
    }

    #headerSearchBar {
        width:150px;
        height:30px;
    }

    #headerSearchBar::placeholder {
        font-size:14px;
    }

    #headerSearchBtn {
        width:100px;
        height:30px;
    }

    .exploreBtnsContainer {
        display:flex;
        justify-content:space-around;
        margin-top:50px;
        gap:0;
    }

    .explorePopPlayersBtn, .liveScoreBtn {
        width:140px;
        height:60px;
        font-size:14px;
        padding:0;
    }

    .featuredStatisticsSection {
        margin-top:120px;
    }

    .featuredStatisticsTitle {
        font-size:25px;
    }

    .statisticsContainer {
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .stat {
        width:200px;
        text-align:center;
    }

    .filler1 {
        font-size:18px;
    }

    .filler2 {
        font-size:28px;
    }

    .filler3 {
        font-size:14px;
    }

    .latestNewsSection {
        margin-top:120px;
    }


    .news {
        width:200px;
    }

    .newsImg {
        display:flex;
        margin:0 auto;
        height:150px;
        width:100%;
    }

    .newsHeadline {
        font-size:15px;
    }

    .newsDescription {
        font-size:13px;
    }

    .seeMoreBtn {
        width:fit-content;
        height:40px;
    }

    .searchBarContainer {
        margin-top:120px;
    }

    .teamSelection {
        width:200px;
    }

    .mostPopularPlayersContainer {
        margin-top:40px;
    }

    .mostPopularPlayersTitle {
        font-size:24px;
    }

    .starPlayersContainer {
        display:flex;
        flex-direction:column;
        align-items:center;
        margin:0 auto;
    }

    .playerContainer {
        margin-left:20px;
        width:275px;
    }

    .playerContainer h2 {
        font-size:24px;
    }

    .statsContainer img {
        width:275px;
    }

    .container {
        width:40px;
        height:50px;
    }

}
  